.root{
    -fx-background-color: rgb(43, 43, 43);
}
.label {
    -fx-text-fill: rgb(169,183,198);
}
.gridLinesStyle Line {
    -fx-stroke: orange;
    -fx-stroke-width: 0.5;
}
.highlight {
    /*-fx-highlight-fill: yellow;*/
    /*-fx-highlight-text-fill: firebrick;*/
    -fx-text-fill: yellow;
}

.text-field {
    -fx-background-color: rgb(43, 43, 43);
    -fx-text-fill: rgb(169,183,198);
    -fx-border-width: -1;
    -fx-max-width: 50;
    /*-fx-min-width: 50;*/
    -fx-min-height: 20;
    -fx-max-height: 20;
}

.text-field .content {
    -fx-background-color: rgb(43, 43, 43);
}